input,
select {
  height: 40px ;
  padding: 10px 20px ;
  border: 2px solid rgb(131, 130, 130) ;
  width: 90%;
  border-radius: 2px ;
}

.ant-form-item {
  margin-bottom: 5px ;
}

button {
  padding: 0px 25px;
  border-radius: 2px;
  height: 40px ;
}
.primary-contained-btn {
  background-color: var(--primary);
  color: white;
}

.primary-outlined-btn {
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}
